In [ ]:
import os
# Find the latest version of spark 3.x  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.4.0'
spark_version = 'spark-3.5.1'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop3.tgz
!tar xf $SPARK_VERSION-bin-hadoop3.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop3"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu jammy-security InRelease [110 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:3 http://archive.ubuntu.com/ubuntu jammy InRelease
Hit:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [119 kB]
Hit:6 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Hit:7 https://ppa.launchpadcontent.net/c2d4u.team/c2d4u4.0+/ubuntu jammy InRelease
Hit:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease
Hit:9 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:10 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [1,691 kB]
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:12 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,081 kB]
Get:13 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [1,974 kB]
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/restricted amd64 Packages [2,174 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,374 kB]
Fetched 8,527 kB in 3s (3,141 kB/s)
Reading package lists... Done

In [ ]:
# Import packages
from pyspark.sql import SparkSession
import time

# Create a SparkSession
spark = SparkSession.builder.appName("SparkSQL").getOrCreate()

In [ ]:
# 1. Read in the AWS S3 bucket into a DataFrame.
from pyspark import SparkFiles
home_url = "https://2u-data-curriculum-team.s3.amazonaws.com/dataviz-classroom/v1.2/22-big-data/home_sales_revised.csv"
spark.sparkContext.addFile(home_url)
home_df = spark.read.csv(SparkFiles.get("home_sales_revised.csv"), sep=",", header=True)

# Show the delayed flight data.
home_df.show()

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
|43de979c-0bf0-4c9...|2019-04-12|      2014|417866|       2|        2|       2127|   10575|     2|         0|   0|
|b672c137-b88c-48b...|2019-10-16|      2016|239895|       2|        2|       1631|   11149|     2|         0|   0|
|e0726d4d-d595-407...|2022-01-08|      2017|424418|       3|        2|       2249|   13878|     2|         0|   4|
|5aa00529-0533-46b...|2019-01-30|      2017|218712|       2|        3|       1965|   14375|     2|         0|   7|
|131492a1-72e2-4a8...|2020-02-08|      2017|419199|       2|        3|       2062|    8876|     2|         0|   6|
|8d54a71b-c520-44e...|2019-07-21|      2010|323956|       2|        3|       1506|   11816|     1|         0|  25|
|e81aacfe-17fe-46b...|2020-06-16|      2016|181925|       3|        3|       2137|   11709|     2|         0|  22|
|2ed8d509-7372-46d...|2021-08-06|      2015|258710|       3|        3|       1918|    9666|     1|         0|  25|
|f876d86f-3c9f-42b...|2019-02-27|      2011|167864|       3|        3|       2471|   13924|     2|         0|  15|
|0a2bd445-8508-4d8...|2021-12-30|      2014|337527|       2|        3|       1926|   12556|     1|         0|  23|
|941bad30-eb49-4a7...|2020-05-09|      2015|229896|       3|        3|       2197|    8641|     1|         0|   3|
|dd61eb34-6589-4c0...|2021-07-25|      2016|210247|       3|        2|       1672|   11986|     2|         0|  28|
|f1e4cef7-d151-439...|2019-02-01|      2011|398667|       2|        3|       2331|   11356|     1|         0|   7|
|ea620c7b-c2f7-4c6...|2021-05-31|      2011|437958|       3|        3|       2356|   11052|     1|         0|  26|
|f233cb41-6f33-4b0...|2021-07-18|      2016|437375|       4|        3|       1704|   11721|     2|         0|  34|
|c797ca12-52cd-4b1...|2019-06-08|      2015|288650|       2|        3|       2100|   10419|     2|         0|   7|
|0cfe57f3-28c2-472...|2019-10-04|      2015|308313|       3|        3|       1960|    9453|     2|         0|   2|
|4566cd2a-ac6e-435...|2019-07-15|      2016|177541|       3|        3|       2130|   10517|     2|         0|  25|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 20 rows

In [ ]:
# 2. Create a temporary view of the DataFrame.
home_df.createOrReplaceTempView('home')

In [ ]:
# 3. What is the average price for a four bedroom house sold per year, rounded to two decimal places?
spark.sql("""
SELECT
          YEAR(date) as Year_sold,
          CONCAT('$ ',ROUND(AVG(price),2)) as Average_price
FROM      Home
WHERE     bedrooms=4
GROUP BY  Year_sold
ORDER BY  Year_sold desc
""").show()

+---------+-------------+
|Year_sold|Average_price|
+---------+-------------+
|     2022|  $ 296363.88|
|     2021|  $ 301819.44|
|     2020|  $ 298353.78|
|     2019|   $ 300263.7|
+---------+-------------+

In [ ]:
# 4. What is the average price of a home for each year the home was built,
# that have 3 bedrooms and 3 bathrooms, rounded to two decimal places?
spark.sql("""
SELECT
          date_built AS Year_Built,
          CONCAT('$ ',ROUND(AVG(price),2)) as Average_price
FROM      Home
WHERE
          bedrooms=4 AND
          bathrooms=3
GROUP BY  Year_Built
ORDER BY  Year_Built desc
""").show()

+----------+-------------+
|Year_Built|Average_price|
+----------+-------------+
|      2017|  $ 289100.17|
|      2016|  $ 289090.11|
|      2015|   $ 299517.5|
|      2014|  $ 289935.92|
|      2013|  $ 291870.89|
|      2012|  $ 289533.13|
|      2011|  $ 294656.14|
|      2010|  $ 287529.97|
+----------+-------------+

In [ ]:
# 5. What is the average price of a home for each year the home was built,
# that have 3 bedrooms, 3 bathrooms, with two floors,
# and are greater than or equal to 2,000 square feet, rounded to two decimal places?
spark.sql("""
SELECT
          date_built AS Year_Built,
          CONCAT('$ ',ROUND(AVG(price),2)) as Average_price
FROM      Home
WHERE
          bedrooms=3 AND
          bathrooms=3 AND
          floors=2 AND
          sqft_living > 1999
GROUP BY  Year_Built
ORDER BY  Year_Built desc
""").show()

+----------+-------------+
|Year_Built|Average_price|
+----------+-------------+
|      2017|  $ 280317.58|
|      2016|   $ 293965.1|
|      2015|  $ 297609.97|
|      2014|  $ 298264.72|
|      2013|  $ 303676.79|
|      2012|  $ 307539.97|
|      2011|  $ 276553.81|
|      2010|  $ 285010.22|
+----------+-------------+

In [ ]:
home_df.show(2)

+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|                  id|      date|date_built| price|bedrooms|bathrooms|sqft_living|sqft_lot|floors|waterfront|view|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
|f8a53099-ba1c-47d...|2022-04-08|      2016|936923|       4|        3|       3167|   11733|     2|         1|  76|
|7530a2d8-1ae3-451...|2021-06-13|      2013|379628|       2|        2|       2235|   14384|     1|         0|  23|
+--------------------+----------+----------+------+--------+---------+-----------+--------+------+----------+----+
only showing top 2 rows

In [ ]:
# 6. What is the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000? Order by descending view rating.
# Although this is a small dataset, determine the run time for this query.

start_time = time.time()
spark.sql("""
SELECT
          view as View_rating,
          CONCAT('$ ',ROUND(AVG(price),2)) as Average_price
FROM      Home
WHERE
          price>=350000
GROUP BY  view
ORDER BY  view desc
""").show()
print("--- %s seconds ---" % (time.time() - start_time))

+-----------+-------------+
|View_rating|Average_price|
+-----------+-------------+
|         99| $ 1061201.42|
|         98| $ 1053739.33|
|         97| $ 1129040.15|
|         96| $ 1017815.92|
|         95|  $ 1054325.6|
|         94|  $ 1033536.2|
|         93| $ 1026006.06|
|         92|  $ 970402.55|
|         91| $ 1137372.73|
|         90| $ 1062654.16|
|          9|  $ 401393.34|
|         89| $ 1107839.15|
|         88| $ 1031719.35|
|         87|  $ 1072285.2|
|         86| $ 1070444.25|
|         85| $ 1056336.74|
|         84| $ 1117233.13|
|         83| $ 1033965.93|
|         82|  $ 1063498.0|
|         81| $ 1053472.79|
+-----------+-------------+
only showing top 20 rows

--- 1.0822014808654785 seconds ---

In [ ]:
# 7. Cache the the temporary table home_sales.
spark.sql("cache table home")

DataFrame[]

In [ ]:
# 8. Check if the table is cached.
spark.catalog.isCached('home')

True

In [ ]:
# 9. Using the cached data, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the uncached runtime.

start_time = time.time()
spark.sql("""
SELECT
          view as View_rating,
          CONCAT('$ ',ROUND(AVG(price),2)) as Average_price
FROM      Home
WHERE
          price>=350000
GROUP BY  view
ORDER BY  view desc
""").show()
print("--- %s seconds ---" % (time.time() - start_time))

+-----------+-------------+
|View_rating|Average_price|
+-----------+-------------+
|         99| $ 1061201.42|
|         98| $ 1053739.33|
|         97| $ 1129040.15|
|         96| $ 1017815.92|
|         95|  $ 1054325.6|
|         94|  $ 1033536.2|
|         93| $ 1026006.06|
|         92|  $ 970402.55|
|         91| $ 1137372.73|
|         90| $ 1062654.16|
|          9|  $ 401393.34|
|         89| $ 1107839.15|
|         88| $ 1031719.35|
|         87|  $ 1072285.2|
|         86| $ 1070444.25|
|         85| $ 1056336.74|
|         84| $ 1117233.13|
|         83| $ 1033965.93|
|         82|  $ 1063498.0|
|         81| $ 1053472.79|
+-----------+-------------+
only showing top 20 rows

--- 0.6517846584320068 seconds ---

In [ ]:
# 10. Partition by the "date_built" field on the formatted parquet home sales data
home_df.write.partitionBy("date_built").mode("overwrite").parquet("home_partitioned")

In [ ]:
# 11. Read the parquet formatted data.
partitioned_home_parquet=spark.read.parquet('home_partitioned')
p_home_p=partitioned_home_parquet

In [ ]:
# 12. Create a temporary table for the parquet data.
p_home_p.createOrReplaceTempView('p_hs_p')

In [ ]:
# 13. Using the parquet DataFrame, run the last query above, that calculates
# the average price of a home per "view" rating, rounded to two decimal places,
# having an average home price greater than or equal to $350,000.
# Determine the runtime and compare it to the cached runtime.

start_time = time.time()
spark.sql("""
SELECT
          view as View_rating,
          CONCAT('$ ',ROUND(AVG(price),2)) as Average_price
FROM      p_hs_p
WHERE
          price>=350000
GROUP BY  view
ORDER BY  view desc
""").show()


print("--- %s seconds ---" % (time.time() - start_time))

+-----------+-------------+
|View_rating|Average_price|
+-----------+-------------+
|         99| $ 1061201.42|
|         98| $ 1053739.33|
|         97| $ 1129040.15|
|         96| $ 1017815.92|
|         95|  $ 1054325.6|
|         94|  $ 1033536.2|
|         93| $ 1026006.06|
|         92|  $ 970402.55|
|         91| $ 1137372.73|
|         90| $ 1062654.16|
|          9|  $ 401393.34|
|         89| $ 1107839.15|
|         88| $ 1031719.35|
|         87|  $ 1072285.2|
|         86| $ 1070444.25|
|         85| $ 1056336.74|
|         84| $ 1117233.13|
|         83| $ 1033965.93|
|         82|  $ 1063498.0|
|         81| $ 1053472.79|
+-----------+-------------+
only showing top 20 rows

--- 1.209784984588623 seconds ---

In [ ]:
# 14. Uncache the home_sales temporary table.
spark.sql("uncache table home")

DataFrame[]

In [ ]:
# 15. Check if the home_sales is no longer cached
spark.catalog.isCached('home')

False